1 VERSIONINFO 
FILEVERSION 0, 1, 0, 0
PRODUCTVERSION 0, 1, 0, 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileDescription", "SED - Jedi Knight, MOTS and Infernal Machine Editor\000"
   VALUE "FileVersion", "0.1.0\000"
   VALUE "InternalName", "SED\000"
   VALUE "OriginalFilename", "SED.exe\000"
   VALUE "ProductName", "SED\000"
   VALUE "ProductVersion", "0.1.0\000"
   VALUE "ReleaseDate", "March 2022\000"
   VALUE "HomePage", "https://github.com/smlu/sed\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }

}
